#keyTickerForm {
  margin: 20px 10px;
}

#output {
  margin: 20px 0;
  height: 250px;
  overflow-y: auto;
}

#output thead th {
  position: sticky;
  top: 0;
  padding: 8px 16px;
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.9);
}

#progressElement {
  text-align: left;
  padding-left: 20px;
}

#progressToggle {
  margin: 15px;
}

#tableDisplayButton {
  margin: 10px 0;
}

#analysisDiv {
  margin: 20px 0;
}

#tickerSymbol {
  margin: 10px 0;
}

.spacer {
  margin: 10px 0;
}
